@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} 

body{
    min-height: 100vh;
    background-color: #ffffff;
}
.hi{
    color:#ebd125db
}

.sidebar {
    position: fixed;
    top: 0;
    left:0 ; 
    height:100%;
    /* width: 85px; */
    background-color: #161a2d;
    padding :25px 20px ;
    overflow: hidden;
    border-right: 1px solid #7d5e5e;

}
.sidebar :hover{
    /* width: 260px; */
}

.sidebar-header{
    display: flex; 
    align-items: center;
}

.sidebar-header h2 {
    font-size:1.25rem;
    font-weight: 600;
    color:#ffffff;
    margin-left: 23px;
}
.sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #ffffff;
    font-weight: 500;
    padding: 15px 20px;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-links li :hover {
   /* background: #ffffff2d;  */
   color: #ebd125db;
   border-radius: 4px;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
}

.sidebar-header img{
    width: 75px;

}

