/* frontend/src/assets/styles/Chatroom.css */
.chatroom {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Adjust height as necessary */
}

.chatroom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.header-icons {
    display: flex;
    gap: 10px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.icon {
    font-size: 1.5em;
    color: #fdcc04;
}

.icon-button:hover .icon {
    color: black;
}

.chat-date {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    color: #666;
}

.message-date {
    text-align: center;
    margin: 10px 0;
    font-size: 0.9em;
    color: #888;
}

.chatroom .messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.chatroom .message {
    margin-bottom: 10px;
    border-radius: 15px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.chatroom .message.sent {
    background-color: gray;
    color: white;
    text-align: left;
    margin-left: auto; /* Pushes the received message to the right */
    
}

.chatroom .message.received {
    background-color: white;
    color: black;
    text-align: left;
    align-self: flex-start; /* Ensures sent messages are aligned to the left */
}

.message-content {
    margin-bottom: 5px;
    word-wrap: break-word; /* Wrap long words */
    overflow-wrap: break-word; /* Wrap at boundaries other than hyphenation */
}

.message-timestamp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: #999;
    text-align: right;
}

.message-status {
    margin-left: 10px;
    color: #fdcc04;
    font-size: 0.8em;
}

.chatroom .message-form {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    position: sticky;
    bottom: 0;
}

.chatroom .message-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chatroom .message-form button {
    padding: 10px 20px;
    background-color: #fdcc04;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.chatroom .message-form button:hover {
    background-color: black;
    color: white;
}

/* Custom styles for Jitsi container */
.jitsi-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.jaas-container {
    height: 100%;
    width: 100%;
    background-color: #474747;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fdcc04;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    z-index: 1001;
}

.close-button:hover {
    background-color: black;
    color: white;
}