/* frontend/src/assets/styles/CollaboratorsPage.css */
.tab-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #d9d9d9;
    cursor: pointer;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #333;
    color: #fdcc04;
}

.tab-button.active {
    background-color: #333;
    color: #fdcc04;
}

.tab-content {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}
