/* frontend/src/assets/styles/CollaborationRequests.css */
.requests-list {
    list-style: none;
    padding: 0;
}

.request-item {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allows elements to wrap */
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.sender-photo {
    display: flex;
    align-items: center; /* Vertically centers the image */
    width: 50px; /* Increased size */
    height: 50px; /* Increased size */
    border-radius: 50%;
    margin-right: 20px; /* Adjusted space */
}

.sender-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.request-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 95px); /* Adjusted for photo width and margin */
}

.sender-details {
    display: flex;
    flex-direction: column;
    margin-bottom: -50px; /* Reduced bottom margin */
}

.sender-name {
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

.sender-message {
    display: flex;
    align-items: center;
    color: #fdcc04;
}

.message-icon {
    font-size: 1.2em;
    color: #fdcc04;
    margin-right: 8px; /* Space between icon and message */
}

.message-text {
    margin-left: 8px;
}

.action-buttons {
    display: flex;
    align-items: center;
    margin-left: auto; /* Align to the right */
}

.confirm-button, .delete-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Add space between buttons */
}

.confirm-button {
    background-color: #333; /* Green color for confirm */
    color: #fdcc04;
}

.confirm-button:hover {
    background-color: #4caf50;
    color: #fff;
}

.delete-button {
    background-color: #d9d9d9; /* Red color for delete */
    color: black;
}

.delete-button:hover {
    background-color: #e53935;
    color: #fff;
}

.status-message {
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    background-color: #4caf50;
    border-radius: 5px;
    width: 100%; /* Ensure it spans the full width of the request item */
    position: relative; /* Ensure it stays in the document flow */
    top: auto; /* Reset top value */
    left: auto; /* Reset left value */
    order: 1; /* Ensures it appears after all other flex items */
}

.delete-message {
    background-color: #e53935; /* Red background for delete messages */
}
