/* frontend/src/assets/styles/ConfirmDialog.css */
.custom-confirm-dialog {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dialog-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.dialog-message {
    font-size: 1em;
    margin-bottom: 20px;
    color: #666;
}

.dialog-buttons {
    display: flex;
    justify-content: space-around;
}

.dialog-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.confirm-dialog-button {
    background-color: #d9d9d9;
    color: black;
}

.confirm-dialog-button:hover {
    background-color: #e53935;
    color: #fff;
}

.cancel-dialog-button {
    background-color: #333; 
    color: #fdcc04;
}

.cancel-dialog-button:hover {
    background-color: #4caf50;
    color: #fff;
}

.dialog-button:hover {
    opacity: 0.9;
}
