* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  nav {
    height: 80px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
  }
  
  .logo {
    padding: 0 2rem;
  }
  
  .small-logo {
    width: 100px; /* Adjust the width as needed */
    position: absolute;
    top: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
    font-size: large;
  }
  
  nav a:hover {
    color: #fdcc04;
  }
  
  .hero {
    background: #f8f8f8;
  }
  
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
  }
  
  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
  }
  
  .column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  
  .column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    color: #fff;
    background: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s ease-in-out;
  }
  
  button:hover {
    background: #333;
    color: #fdcc04;
    border-radius: 20px;
  }
  
  .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .hero-container {
      grid-template-columns: 1fr;
    }
  }
  