.user-rating-section {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.rating-form-section {
    padding: 20px 0;
}

.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-content {
    width: 100%;
}

.rating-form-container {
    margin-bottom: 20px;
}

.rating-form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.rating-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rating-form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating-label {
    font-weight: bold;
}

.rating-label-score {
    color: #333;
}

.rating-label-comment {
    color: #555;
}

.rating-input,
.rating-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rating-input-score {
    width: 50%;
}

.rating-textarea-comment {
    height: 100px;
    resize: none;
}

.rating-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
}

.rating-button-submit:hover {
    background-color: #333;
}

.ratings-list-container {
    margin-top: 20px;
    width: 100%;
}

.ratings-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.carousel-frame {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.ratings-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rating-item {
    min-width: 33.33%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    margin: 0 10px;
    transition: transform 0.5s ease;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.average-rating-title {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}
